*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif   
}
header{
    background: rgb(144, 199, 144);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;

}
header.logo{
    cursor:pointer ;
}
.logo{
    width: 130px;
    height: 90px;
}
nav{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex; 
}
nav ul{
    margin: 10px;
}
.portada{
    width: 100%;
    height:450px;
}
.portada1{
    background: rgb(144, 199, 144);
    text-align: center;

}
.portada1 .fotos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.portada1 img{
    margin: 10px;
    
}
.portada2 h2{
    padding: 20px;
    text-align: center;
}
.portada2 p{
    padding-left: 50px;
    margin: 10px;
}
.portada3{
    padding: 20px;
    text-align: center;
    background: rgb(144, 199, 144);
    color: green;
}
.portada3 .contactos input {
    margin: 5px;
    width: 365px;
    height: 30px;
}
.portada3 .enviar{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    background: rgb(21, 21, 106);
    color: white;
}
.pie-pagina{
    width: 100%;
    background-color: rgb(11, 59, 11);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
